---
---

@import "{{ site.theme }}";

img {
    border-radius: 50%;
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: 150px; /* Ajuste o tamanho conforme necessário */
    object-fit: cover; /* Garante que a imagem preencha o círculo sem distorção */
}
